html(lang='en')
  head
    title Zendesk Tickets
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Zendesk Tickets
    .ui.container
      table.ui.celled.table.aligned
        thead
          tr
            th
            th ID
            th Subject
            th Requester
            th Requester updated
            th Group
            th Assignee
        tbody
          each ticket in tickets
            tr
              td #{ticket.status}
              td #{ticket.id}
              td #{ticket.subject}
              td
              td #{new Date(ticket.updated_at).toLocaleString()}
              td
              td
        tfoot
          tr
            th(colspan='6')